<!-- From https://github.com/damienbod/angular-auth-oidc-client/tree/main/projects/sample-code-flow-refresh-tokens/src/app -->
<div *ngIf="isAuthenticated$|async; else noAuth">
  <p-button (click)="logout()">Logout</p-button>
  <p-button (click)="logoffAndRevokeTokens()">Logout and revoke tokens</p-button>
  <p-button (click)="revokeAccessToken()">Revoke access token</p-button>
  <p-button (click)="revokeRefreshToken()">Revoke refresh token</p-button>
  <p-button (click)="refreshSession()">Refresh session</p-button>
  <hr />
  Is Authenticated: <code>{{ isAuthenticated$|async }}</code>
  <h2>User data</h2>
  <wh-syntax-highlight language="json" [code]="userData$ | async | json"></wh-syntax-highlight>
</div>

<ng-template #noAuth>
  <p-button (click)="login()">Login</p-button>
  <hr />
</ng-template>

<h2>Configuration loaded</h2>

<wh-syntax-highlight language="json" [code]="configuration | json"></wh-syntax-highlight>
