body .p-tabview {
  padding: 0;

  .p-tabview-panels {
    background-color: transparent !important;
    border: none !important;
    padding: 0;
  }

  .p-tabview-nav {
    font-size: 1rem;
    margin: 0;

    li {
      border-left: 1px solid $wharf_tabview_separator_color;
      border-radius: 0;
      padding: 0;

      .p-tabview-nav-link {
        font-weight: normal;
        color: $wharf_tabview_default_color;
        padding: 0 2rem 0.2rem 2rem;

        i.pi {
          vertical-align: middle;
        }
      }

      &.p-highlight .p-tabview-nav-link {
        color: $wharf_tabview_active_color;
      }

      &:first-child .p-tabview-nav-link {
        padding-left: 0;
      }

      &:not(.p-highlight):not(.p-disabled):hover {
        .p-tabview-nav-link {
          color: $wharf_tabview_active_color;
        }
      }

      &,
      &.p-highlight,
      &:not(.p-highlight):not(.p-disabled):hover {
        border-left: 1px solid $wharf_tabview_separator_color;

        .p-tabview-nav-link {
          background: none;
          border: none;
        }

        &:first-child {
          border-left: none;
        }
      }

      &.p-disabled {
        opacity: 1;

        .p-tabview-nav-link {
          pointer-events: initial;
          color: $wharf_tabview_disabled_color;
        }
      }
    }
  }

  p {
    color: $wharf_dirty_white;
  }

  .p-paginator-bottom {
    background-color: transparent;
    padding-top: 3.5rem;
    border: none;

    .p-paginator-pages {
      .p-paginator-page {
        color: $wharf_paginator_page_color;
        background-color: transparent !important;

        &:hover {
          color: $wharf_paginator_page_color;
          opacity: 80%;
        }
      }

      .p-paginator-page.p-highlight {
        background-color: transparent;
        color: $wharf_paginator_active_page_color !important;
      }
    }
  }

  .p-paginator > .p-paginator-element {
    color: $wharf_paginator_icon_color !important;

    &:hover {
      opacity: 80%;
      background-color: transparent !important;
    }
  }
}
