<!-- From https://github.com/damienbod/angular-auth-oidc-client/tree/main/projects/sample-code-flow-refresh-tokens/src/app -->
<div *ngIf="isAuthenticated; else noAuth">
  <p-button (click)="logout()">Logout</p-button>
  <p-button (click)="logoffAndRevokeTokens()">Logout and revoke tokens</p-button>
  <p-button (click)="revokeAccessToken()">Revoke access token</p-button>
  <p-button (click)="revokeRefreshToken()">Revoke refresh token</p-button>
  <p-button (click)="refreshSession()">Refresh session</p-button>
  <hr />

  <br />

  Is Authenticated: {{ isAuthenticated }}

  <br />
  userData
  <pre>{{ userData$ | async | json }}</pre>

  <br />
</div>

<ng-template #noAuth>
  <button (click)="login()">Login</button>
  <hr />
</ng-template>

Configuration loaded:
<pre>{{ configuration | json }}</pre>
