<section class="main-container">
  <div *ngIf="project">
    <div class="project-page-header">
      <div class="top">
        <span class="breadcrumbs"><a routerLink="/">Projects &gt;</a>
          <h4>{{project.name}}</h4>
          <i [ngClass]="(localStorageProjectsService.projectIsFavorite(project.projectId))
            ? 'pi pi-star favorite-project-icon' : 'pi pi-star-o favorite-project-icon'">
          </i>
        </span>
        <div class="top-right">
          <div class="id">
            <span><label>ID</label>
              <span class="id-number">{{project.projectId}}</span>
            </span>
          </div>
          <div>
            <span><label>Clone URL</label>
              <p class="url-link" #gitUrl>{{project.gitUrl}}</p>
              <a href="javascript:void(0)" (click)="copyElemContentToClipboard(gitUrl)">
                <i class="pi pi-copy copy-icon" alt="copy icon"></i>
              </a>
            </span>
          </div>
        </div>
      </div>
      <div class="bottom">
        <p>{{project.description}}</p>
      </div>
    </div>
    <div class="project-page-body">
      <a class="router-link-invisible" [routerLink]="[]" [queryParams]="{tab: activeTab}">
        <wh-tabview-x *ngIf="project.buildHistory" [(activeIndex)]="activeTab">
          <wh-tabpanel-x header="Builds">
            <ng-template pTemplate="side-header-override">
              <p-splitButton *ngIf="project.actions"
                             class="button-container"
                             label="{{projectUtilsService.runAllActionName}}"
                             [model]="projectUtilsService.getActionsMenuItems(project)"
                             (onClick)="projectUtilsService.openActions(projectUtilsService.runAllActionName,project)">
              </p-splitButton>
            </ng-template>
            <ng-container *ngTemplateOutlet="buildsHistory"></ng-container>
          </wh-tabpanel-x>
          <wh-tabpanel-x>
            <ng-template pTemplate="header">
              <span class="p-tabview-title">Configuration <i class="pi pi-exclamation-circle"
                                                             *ngIf="!project.buildDefinition"></i></span>
            </ng-template>
            <ng-container *ngTemplateOutlet="configuration"></ng-container>
            <ng-template pTemplate="side-header-override">
              <wh-project-refresh-button
                #refreshButton
                (refreshed)="reloadProject()"
                [project]="project"
              ></wh-project-refresh-button>
            </ng-template>
          </wh-tabpanel-x>
          <wh-tabpanel-x header="Schedule" disabled="true" tooltip='This feature has not yet been implemented.
        Stay tuned!' tooltipPosition="top">
            <ng-container *ngTemplateOutlet="schedule"></ng-container>
          </wh-tabpanel-x>
        </wh-tabview-x>
      </a>
    </div>
  </div>

  <ng-template #buildsHistory>
    <wh-project-details-build [project]="project"></wh-project-details-build>
  </ng-template>

  <ng-template #configuration>
    <wh-project-details-configuration [project]="project"
                                      (wantToRefresh)="refreshProject()"></wh-project-details-configuration>
  </ng-template>

  <ng-template #schedule>
    <wh-project-details-schedule [project]="project"></wh-project-details-schedule>
  </ng-template>

  <wh-actions-modal *ngIf="isActionsFormVisible"></wh-actions-modal>
</section>
