<form id="provider-form" [formGroup]="providerForm" (ngSubmit)="onSubmit()">
  <div class="form-control">
    <h5><label>URL <span class="required">*</span></label></h5>
    <span *ngIf="providerForm.get('url').validator"></span>
    <input pInputText type="text" placeholder="URL" formControlName="url" class="form-input">
    <p-tag *ngIf="!providerForm.controls.url.valid && providerForm.controls.url.enabled" severity="danger" value="The url is not valid!"></p-tag>
  </div>
  <div class="form-control">
    <h5><label>Token <span class="required">*</span></label></h5>
    <span *ngIf="providerForm.get('token').validator"></span>
    <input pInputText type="text" placeholder="Token" formControlName="token" class="form-input">
    <p-tag *ngIf="!providerForm.controls.token.valid && providerForm.controls.token.enabled" severity="danger" value="A token is required!"></p-tag>
  </div>
  <div class="form-control">
    <h5><label>Group</label></h5>
    <input pInputText type="text" placeholder="Group" formControlName="group" class="form-input">
  </div>
  <div class="form-control">
    <h5><label>Project</label></h5>
    <input pInputText type="text" placeholder="Project" formControlName="project" class="form-input">
  </div>
  <div class="bottom-part">
    <p-button label="IMPORT" type="submit"[disabled]="!providerForm.valid"></p-button>
  </div>
</form>
