@import "./reset/p-button.scss";
@import "./reset/p-dialog.scss";
@import "./reset/p-dropdown.scss";
@import "./reset/p-splitbutton.scss";
@import "./reset/p-tabview.scss";
@import "./reset/p-toast.scss";

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  background-color: $wharf_body_background_color;

  *:focus {
    box-shadow: none !important;
  }

  ::placeholder {
    color: $wharf_input_field_placeholder_text_color;
    font-size: smaller;
  }

  .p-tabview-panel p {
    margin: unset;

    /*
      PrimeNG reset <p> margin to 0. This sets it back to have margins again.
      Copied styling from Chromium default user agent stylesheet
     */
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

  input {
    padding: 0 0.5rem;
  }
}

.p-component {
  font-size: 14px;
  font-family: inherit;
}
