<div id="notification">
  <p-toast sticky="true" (onClose)="clear()">
    <ng-template let-message pTemplate="message">
      <ng-container
        *ngTemplateOutlet="getToastTemplate(message);context:{message:message}">
      </ng-container>
    </ng-template>
  </p-toast>
</div>

<ng-template #toastContent let-message="message" >
  <h3>{{message.summary}}</h3>
  <p>{{message.detail}}</p>
</ng-template>

<ng-template #errorToastContent let-message="message" >
  <h3>{{message.summary}}</h3>
  <p id="message-details">{{message.detail}}</p>
  <button pButton
    type="button"
    (click)="copyToClipboard(message.detail)"
    label="Copy error message"
    class="p-button-secondary">
  </button>
</ng-template>

<ng-template #problemToastContent let-message="message">
  <h3>{{message.summary}}</h3>
  <p id="message-details">{{message.detail}}</p>
  <div id="message-errors" *ngFor="let error of message.data.errors">
    <p>{{error}}</p>
  </div>
  <a pButton class="p-button-secondary"
     rel="noopener noreferrer"
    *ngIf="message.data.type && message.data.type !== 'about:blank'"
    href={{message.data.type}} target="_blank" label="Read more"></a>
  <button pButton type="button" (click)="copyToClipboard(message.detail)" label="Copy error message"
    class="p-button-secondary">
  </button>
</ng-template>
