#actions-modal {
  .var-prefix {
    color: $wharf_palette_cloud_grey;
  }

  .var-name {
    font-family: $wharf_code_font_family;
  }

  .var-info-icon {
    vertical-align: bottom;
    color: $wharf_palette_cloud_grey;

    &:hover {
      color: inherit;
    }
  }

  .action-buttons {
    margin-top: 1rem;

    .submit-button {
      float: right;

      .p-button {
        padding: 0.429rem 4rem;
      }
    }
  }
}
