#console-log {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: black;
  color: white;
  font-family: monospace;
  padding: 0;

  div {
    height: 700px;
    overflow: auto;
  }
}
