.main-container {
  .project-page-header {
    p {
      color: $wharf_builds_description_text_color;
      font-size: 80%;
      margin: 1.5rem 0 1rem 0;
    }

    .top {
      color: white;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .url-link {
        overflow: hidden;
        text-overflow: ellipsis;
        height: 1.25rem;
        width: 10.5rem;
        font-size: 80%;
      }
    }

    .top-right {
      display: flex;
      align-items: center;
      justify-content: flex-end;

      .id {
        margin-right: 1.5rem;

        .id-number {
          color: $wharf_dirty_white;
          font-size: 80%;
        }
      }
    }

    .breadcrumbs {
      a {
        margin-right: 0.3rem;
        color: darkgray;
        text-decoration: none;
        &:hover {
          text-decoration: none;
        }
      }
    }

    label {
      margin-right: 0.3rem;
      color: darkgray;
      font-size: smaller;
    }

    span {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      a {
        margin-right: 0.3rem;
        color: darkgray;
      }

      h4, p {
        margin: 0.3rem;
      }

      .favorite-project-icon {
        font-size: 1.3rem;
        color: $wharf_table_icon_color;
        margin-left: 0.6rem;
      }

      .copy-icon {
        opacity: 100%;
        &:hover {
          opacity: 70%;
        }
      }
    }

    .bottom {
      display: flex;
      justify-content: space-between;
    }
  }

  .p-tabview {
    .p-disabled a {
      text-decoration: line-through;
    }

    .wh-tabview-x-header {
      min-height: 2.2rem;
    }
  }


  .status-progress-spinner .p-progress-spinner {
    width: auto;
    height: 1.1rem;
    width: 1.1rem;
    vertical-align: middle;
    margin-left: 0.5rem;
  }

  .status-scheduling {
    color: $wharf_palette_status_scheduling !important;
  }

  .status-completed {
    color: $wharf_palette_status_completed !important;
  }

  .status-failed {
    color: $wharf_palette_status_failed !important;
  }

  .status-running {
    color: $wharf_palette_status_running !important;
  }
}
