<td class="col-name">{{project.name}}</td>
<td class="col-group">{{project.groupName}}</td>
<td class="col-provider">{{providerHostname}}</td>
<td class="col-status"><span class="not-available">N/A</span></td>
<td class="col-actions">
  <p-splitButton *ngIf="menuItems.length"
    label="{{projectUtilsService.runAllActionName}}"
    [model]="menuItems"
    (onClick)="projectUtilsService.openActions(projectUtilsService.runAllActionName, project)"
  ></p-splitButton>
</td>
<td class="col-quickactions">
  <wh-project-refresh-icon (refreshed)="refreshed.emit($event)" [project]="project"></wh-project-refresh-icon>
  <wh-project-favorite-button (favoriteClick)="onFavoriteClick($event)" [projectId]="project.projectId"></wh-project-favorite-button>
</td>
