<td class="col-name">{{project.name}}</td>
<td class="col-group">{{project.groupName}}</td>
<td class="col-provider">{{providerHostname}}</td>
<td class="col-status"><span class="not-available">N/A</span></td>
<td class="col-actions">
  <p-splitButton *ngIf="projectUtilsService.getActionsMenuItems(project).length > 0"
    label="{{projectUtilsService.runAllActionName}}" [model]="projectUtilsService.getActionsMenuItems(project)"
    (onClick)="projectUtilsService.openActions(projectUtilsService.runAllActionName, project)"
    (click)="$event.stopPropagation()">
  </p-splitButton>
</td>
<td class="col-quickactions">
  <wh-project-refresh-icon (refreshed)="refreshed.emit($event)" [project]="project"></wh-project-refresh-icon>
  <button icon-only (click)="onFavoriteIconClicked($event)">
    <i aria-label="Favorite button" [ngClass]="(localStorageProjectsService.projectIsFavorite(project.projectId))
    ? 'icon pi pi-star' : 'icon pi pi-star-o'"></i>
  </button>
</td>
